<nav>
  {{#if category.subcategories}}
  <div class="sidebarBlock">
    <h5 class="sidebarBlock-heading">{{category.name}}</h5>
    <ul class="navList">
      {{#each category.subcategories}}
      <li class="navList-item">
        <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}"
          >{{name}}</a
        >
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if}} {{#if shop_by_brand}}
  <div class="sidebarBlock">
    <h5 class="sidebarBlock-heading">{{lang 'brand.label'}}</h5>
    <ul class="navList">
      {{#each categories}}
      <li class="navList-item">
        <a class="navList-action" href="{{url}}">{{name}}</a>
      </li>
      {{/each}} {{#each shop_by_brand}} {{/each}}
      <li class="navList-item">
        <a class="navList-action" href="{{urls.brands}}"
          >{{lang 'common.view_all'}}</a
        >
      </li>
    </ul>
  </div>
  {{/if}} {{#if category.faceted_search_enabled}} {{>
  components/faceted-search/index category}} {{else}} {{>
  components/category/shop-by-price shop_by_price=category.shop_by_price
  category_url=category.url}} {{/if}}
</nav>
